OLLAMA_HOST=http://172.18.64.1:11434
OLLAMA_MODEL=gemma3:12b
PROSE_MODEL=mistral-small:latest
DEEP_LORE_MODEL=gemma3:12b
RULES_MODEL=gemma3:12b
DESIGN_MODEL=gemma3:12b

KARSAC_CORPUS_ROOT=../corpus
KARSAC_COLLECTIONS_DIR=../corpus/collections
KARSAC_RULES_DATA_DIR=../corpus/rules-data
